<footer>
    <h3>Course Links</h3>
    <p>
        <a href="https://webpages.charlotte.edu/csproles/">Charlotte.edu</a> ||
        <a href="https://github.com/csprolesUNCC">Github</a> ||
        <a href="https://csprolesUNCC.github.io">Github.io</a> ||
        <a href="https://www.freecodecamp.org/csproles">FreeCodeCamp</a> ||
        <a href="https://www.codecademy.com/profiles/csproles">Codecademy</a> ||
        <a href="https://www.linkedin.com/in/carsonsproles/">LinkedIn</a>
    </p>
    <p>Designed by <strong><a href="./sprolessoftware.com">Sproles Software</a>,</strong><a href="https://www.freecodecamp.org/certification/csproles/responsive-web-design"><i>Certified in Responsive Web Design</i></a>
 &copy; <span id="year"></span></p>
</footer>
